{% extends "base.html" %}
{% block title %}Expenses{% endblock %}
{% block head %}
  {{ super() }}
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/expenses.css') }}">
{% endblock %}
{% block content %}

{% macro sentence_case(text) %}
    {{ text[0]|upper}}{{text[1:] }}
{% endmacro %}



<div class="card card-container">
  {% for e in expenses %}

  <div class="card">
      <a href="{{url_for('expense_detail', id=e.Expense.id)}}">
        <h5 class="card-header">{{sentence_case(e.Expense.name)}}</h5>
        <span class="badge badge-primary badge-pill">$:{{e.Expense.value}}</span>
      </a>
      <div class="card-body">
        <h5 class="card-title card-expense-value">$:{{e.Expense.value}}</h5>
        <p class="card-text">{{sentence_case(e.Category.name)}}</p>
        <p>{{e.Expense.created_time.strftime('%m/%d/%Y')}}</p>
        <!-- <a href="#" class="btn btn-primary">Details</a> -->
      </div>
    </div>


  <!-- <div class="card" style="width: 36rem;">
    <div class="card-body">
      <h5 class="card-title">{{sentence_case(e.Expense.name)}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        {{sentence_case(e.Category.name)}}
      </h6>
      <h5 class="card-expense-value">$: {{e.Expense.value}}</h5>
      <p class="card-text">Location: {{e.Location.name}}</p>
    </div>
  </div> -->
  {% endfor %}
</div><!-- /card-container -->

{% endblock %}
